@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *:focus,
  *:focus-visible,
  *:active {
    outline: none !important;
    outline-width: 0 !important;
    outline-style: none !important;
    outline-color: transparent !important;
    box-shadow: none !important;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  a:visited {
    color: inherit;
  }

  button:focus,
  a:focus,
  div:focus,
  section:focus,
  h1:focus,
  h2:focus,
  h3:focus {
    outline: none !important;
    box-shadow: none !important;
  }
}
